<div class="w-[100vw] h-[100vh] flex flex-col">
    <div class="flex flex-row items-center justify-between gap-4 px-6 py-2 h-[5rem] bg-black">
        <div class="flex flex-row gap-4 items-center">
            <mat-icon>menu</mat-icon>
            <span class="text-white text-2xl font-bold">WebApp</span>
        </div>
        <div class="flex flex-row gap-4 items-center">
            <mat-icon>public</mat-icon>
            <div class="flex flex-row items-center gap-2">
                <mat-icon>person</mat-icon>
                <span class="text-white text-sm font-bold">John Doe</span>

            </div>
        </div>
    </div>
    <div class="w-full h-[calc(100vh-5rem)]">
        <app-map></app-map>
        <h1 class="text-white text-2xl font-bold absolute top-[7rem] left-[6rem] text-black z-[1111] ">Hello User,</h1>
        <app-city-tiles></app-city-tiles>
    </div>
</div>